name: OpenAPI Tools

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  npm-test:
    name: npm Test
    uses: bymbly/gha-workflows/.github/workflows/npm-test.yaml@main
